/* The navigation bar */
.navbar {
    background-color: transparent;
    width: 100%; /* Full width */
    }

.logo {
  padding-left: 30px;
  height: 130px;
  width: 18%;
  /* float:left; */
}

.profile {
  float: right;
  font-size: 18px;
  padding-right: 40px;
  text-decoration: underline;

}

/* Link boxes inside the navbar */
.navbar a {
    position: relative;
    float:right;
    color: black;
    padding: 20px 70px;
    text-decoration: None;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: 	#F5F5DC;
    color: black;
}


h2 > a:hover:before,
h2 > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.uno a:before {
  background: rgba(0,0,0,0);
  box-shadow: 0 0 10px 2px #ffdb00;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

/* nav ul { */
  /* list-style: none; */
  /* font-size: 2em; */
/* }

nav ul li {
  display: inline-block;
}

nav ul li a {
  position:relative;
  text-decoration: none;
  color: #999999;
  margin: 20px;
  padding-top: 10px;
  padding-right: 10px;
  border-top: 3px solid firebrick;
  }

  nav ul li a:after {
    content:"";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: firebrick;
    width: 0;
    height: 3px;
    transition: all 0.4s;
} */
